In [34]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "city_data.csv"
ride_data_to_load = "ride_data.csv"

# Read the City and Ride Data
city_data_pd = pd.read_csv(city_data_to_load)
city_data_pd.head()
ride_data_pd = pd.read_csv(ride_data_to_load)
ride_data_pd.head()

# Combine the data into a single dataset
merge_table = pd.merge(ride_data_pd, city_data_pd,  on="city", how="left", suffixes=)

# Display the data table for preview
merge_table

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2018-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2018-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2018-03-06 04:28:35,34.58,3908451377344,46,Urban
5,South Latoya,2018-03-11 12:26:48,9.52,1994999424437,10,Urban
6,New Paulville,2018-02-27 11:17:56,43.25,793208410091,44,Urban
7,Simpsonburgh,2018-04-26 00:43:24,35.98,111953927754,21,Urban
8,South Karenland,2018-01-08 03:28:48,35.09,7995623208694,4,Urban
9,North Jasmine,2018-03-09 06:26:29,42.81,5327642267789,33,Urban
10,New Kimberlyborough,2018-02-07 01:10:11,9.34,7992781920789,33,Urban
11,West Angela,2018-01-12 01:45:27,26.86,4820052223501,48,Urban
12,Rodneyfort,2018-03-02 18:03:20,44.26,2494064867705,34,Urban
13,West Angela,2018-01-10 12:17:31,12.74,2108723916092,48,Urban
14,Roberthaven,2018-05-04 14:48:56,25.66,1026197778354,47,Urban
15,North Jason,2018-03-28 22:28:44,9.19,7007022521141,6,Urban
16,Williamsview,2018-01-03 16:19:25,18.93,1979492913169,46,Urban
17,Leahton,2018-02-26 18:42:15,8.85,6966668662612,17,Urban
18,West Anthony,2018-03-06 02:27:01,10.02,9396763280782,70,Urban
19,New Kimberlyborough,2018-04-25 22:58:38,29.67,4823568522144,33,Urban
20,Roberthaven,2018-02-24 10:26:34,7.80,2180566685151,47,Urban
21,New Paulton,2018-05-01 03:12:49,8.28,8527101897862,44,Urban
22,West Patrickchester,2018-03-19 05:46:20,40.86,898889456779,25,Urban
23,Deanville,2018-04-25 03:29:09,41.52,6055928921559,49,Urban
24,West Josephberg,2018-02-19 16:22:09,36.39,3322126516683,45,Urban
25,West Samuelburgh,2018-05-03 14:33:41,41.12,7330842806458,73,Urban
26,West Heidi,2018-03-14 23:46:50,24.40,4908573010166,28,Urban
27,Loganberg,2018-04-01 01:06:03,8.23,678728883160,23,Urban
28,Huntermouth,2018-02-10 23:32:13,25.79,1880379662035,37,Urban
29,South Latoya,2018-01-11 18:44:14,27.41,8662301917375,10,Urban
...,...,...,...,...,...,...
2345,West Heather,2018-02-04 16:29:23,13.97,7118893881453,4,Rural
2346,West Heather,2018-04-18 19:33:12,46.60,3671003215967,4,Rural
2347,West Heather,2018-03-02 21:04:10,20.99,5766454453070,4,Rural
2348,South Saramouth,2018-01-28 15:55:33,31.25,7118046558393,7,Rural
2349,West Heather,2018-03-06 20:06:51,48.11,2570548892682,4,Rural
2350,Garzaport,2018-05-06 16:57:16,18.90,8826696981094,7,Rural
2351,South Saramouth,2018-03-27 21:07:16,11.87,170351888128,7,Rural
2352,Randallchester,2018-04-07 23:42:07,10.79,1615474447641,9,Rural
2353,Harringtonfort,2018-01-09 15:30:35,31.84,3730685356921,4,Rural
2354,South Saramouth,2018-04-12 18:11:50,57.23,5081198789583,7,Rural
2355,North Holly,2018-01-03 19:51:01,19.90,5559509612597,8,Rural
2356,New Ryantown,2018-05-05 19:29:38,26.53,2302209966018,2,Rural
2357,West Heather,2018-02-02 06:28:04,53.07,2462950442268,4,Rural
2358,Lake Latoyabury,2018-02-25 04:10:19,16.18,8492924830016,2,Rural
2359,South Marychester,2018-01-19 11:40:46,49.44,90058815985,1,Rural
2360,Jessicaport,2018-01-31 17:57:25,58.29,623154556195,1,Rural
2361,Michaelberg,2018-03-22 22:20:54,38.30,8032727406577,6,Rural
2362,North Holly,2018-04-18 19:26:25,30.94,3441061016826,8,Rural
2363,Michaelberg,2018-03-13 14:40:18,37.72,8842606115175,6,Rural
2364,Lake Jamie,2018-02-25 23:46:02,28.65,5815763839331,4,Rural
2365,Lake Jamie,2018-04-19 04:32:47,16.29,3518682119233,4,Rural
2366,North Holly,2018-03-18 10:38:05,40.34,3787775176860,8,Rural
2367,Michaelberg,2018-01-27 18:43:05,38.42,862622008020,6,Rural
2368,Lake Jamie,2018-04-29 01:58:44,54.22,2489264790267,4,Rural
2369,Bradshawfurt,2018-01-30 10:55:23,51.39,1328274868072,7,Rural
2370,Michaelberg,2018-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2018-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2018-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2018-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2018-04-25 10:20:13,55.84,9990581345298,1,Rural

## Bubble Plot of Ride Sharing Data

In [23]:
# Obtain the x and y coordinates for each of the three city types



# Build the scatter plots for each city types


#plt.figure(figsize=(20,5))
#plt.bar(x_axis, merge_table["Type"], color='r', alpha=0.5, align="center")
#plt.xticks(tick_locations, rain_df["City"], rotation="vertical")
# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure

In [24]:
# Show plot
plt.show()

## Total Fares by City Type

In [27]:
# Calculate Type Percents
total_fares_urban = merge_table.groupby('type').sum()
total_fares_urban 




# Build Pie Chart

# Save Figure

              fare           ride_id  driver_count
type
Rural      4327.93   580968240341287           537
Suburban  19356.33  3106884522576766          8570
Urban     39854.38  7919412664056093         59602

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [ ]:
# Show Figure
plt.show()